.alumni-icon {
  width: 14px;
  height: 15px;
  background: url(/images/iconsprite-1.png)  no-repeat -163px -203px;
}
.alumni_event_invitations-icon {
  width: 14px;
  height: 15px;
  background: url(/images/iconsprite-1.png)  no-repeat -163px -203px;
}
.alumni_events-icon {
  width: 14px;
  height: 15px;
  background: url(/images/iconsprite-1.png)  no-repeat -163px -203px;
}
