<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="school" connectionString="Data Source=SSWT-04-PC\SQLEXPRESS;Initial Catalog=School_Management;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <httpRuntime executionTimeout="90" maxRequestLength="65536" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>
  </system.web>
  <appSettings>
    <add key="batch.batchservice" value="http://localhost:63767/school_management/Admin/batchservice.asmx/"/>
    <add key="addbook.batchservice" value="http://localhost:14079/school_management/Admin/batchservice.asmx"/>
    <add key="route.addroute" value="http://localhost:50893/school_management/Admin/addroute.asmx"/>
    <add key="hostel.hostelservice" value="http://localhost:6050/school_management/Admin/hostelservice.asmx"/>
    <add key="classwebref.academic" value="http://localhost:6050/school_management/Admin/academic.asmx"/>
    <add key="employee.employeeservice" value="http://localhost:6050/school_management/Admin/employeeservice.asmx"/>
    <add key="finance.Financeserv" value="http://localhost:6050/school_management/Admin/Financeserv.asmx"/>
    <add key="teacherservice.teachersev" value="http://localhost:6050/school_management/Admin/teachersev.asmx"/>
    <add key="library.libservice" value="http://localhost:6050/school_management/Admin/libservice.asmx"/>
    <add key="inventry.inventserv" value="http://localhost:6050/school_management/Admin/inventserv.asmx"/>
    <add key="notice.noticeserv" value="http://localhost:6050/school_management/Admin/noticeserv.asmx"/>
    <add key="parents.parentservice" value="http://localhost:6050/school_management/Parent/parentservice.asmx"/>
    <add key="webservicesteacher.serviceteacher" value="http://localhost:6050/school_management/Teacher/serviceteacher.asmx"/>
    <add key="stuweb.Studentwebservice" value="http://localhost:6050/school_management/Student/Studentwebservice.asmx"/>
    <add key="settingswebref.setting" value="http://localhost:6050/school_management/Admin/setting.asmx"/>
  <add key="newbatchweb.newbatch" value="http://localhost:6050/school_management/Admin/newbatch.asmx"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="meta">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WelcomeService.Greeting" behaviorConfiguration="meta">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="" contract="WelcomeService.IHello"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:63767/school_management/Admin/batchservice.asmx"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>